## This .env.ib file contains environment variables for the Interactive Brokers Gateway (IB Gateway) configuration.
## These variables are used to set up the connection to the IB Gateway, configure trading credentials,

## IBKR Credentials
TWS_USERID="Your_IBKR_UserID"            ## IBKR user ID  (Log in TWS's ID).
TWS_PASSWORD="Your_IBKR_Password"        ## IBKR password (Log in TWS's password).
TRADING_MODE=paper                       ## Set to "live" for live trading, "paper" for paper trading.
VNC_SERVER_PASSWORD="Your_VNC_Password"  ## Password for VNC server access to the IB Gateway container (if using VNC for remote access).

## Automation & Scheduling
TIME_ZONE=America/New_York  ## Time zone for scheduling the auto-restart (e.g., "US/Eastern", "UTC", etc.). 
AUTO_RESTART_TIME=08:30 AM  ## Time to automatically restart the IB Gateway daily (format: HH:MM AM/PM).
AUTO_LOGOFF_TIME=05:15 PM

## Connection & Security Management
TWOFA_TIMEOUT_ACTION=restart
RELOGIN_AFTER_TWOFA_TIMEOUT=yes
EXISTING_SESSION_DETECTED_ACTION=primary

## Credentials section
READ_ONLY_API=no
ALLOW_BLIND_TRADING=no

#TWS_PASSWORD_FILE
#TWS_USERID_PAPER=
#TWS_PASSWORD_PAPER=
#TWS_PASSWORD_PAPER_FILE=
# ib-gateway
#TWS_SETTINGS_PATH=/home/ibgateway/Jts
# tws
#TWS_SETTINGS_PATH=/config/tws_settings
# TWS_SETTINGS_PATH=
# TWS_ACCEPT_INCOMING=
# TWOFA_DEVICE=  ## Set the 2FA device type (e.g., "IB Key", "Authenticator App", etc.)
# BYPASS_WARNING=
# AUTO_LOGOFF_TIME=
# TWS_COLD_RESTART=
# SAVE_TWS_SETTINGS=
# CUSTOM_CONFIG=
# SSH_TUNNEL=
# SSH_OPTIONS=
# SSH_ALIVE_INTERVAL=
# SSH_ALIVE_COUNT=
# SSH_PASSPHRASE=
# SSH_REMOTE_PORT=
# SSH_USER_TUNNEL=
# SSH_RESTART=
# SSH_VNC_PORT=
# START_SCRIPTS=init-scripts/start_scripts
# X_SCRIPTS=init-scripts/x_scripts
# IBC_SCRIPTS=init-scripts/ibc_scripts
